* {
  box-sizing: border-box;
}

html {
  background-color: #282c34;
}

.App {
  display: grid;
  text-align: center;
}

.App-logo {
  height: 35px;
  pointer-events: none;
}

.nav {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container-header > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-header > ul > li {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 21;
}

.container-header > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14;
  flex-wrap: wrap;
  color: white;
}

.container-card {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2.5px + vmin);
  height: auto;
  color: white;
}

.container > a {
  font-size: 25px;
}

.container-header > a {
  font-size: 22px;
}

.App-Window-img {
  display: flex;
  margin-top: 5%;
  width: 500px;
  height: 300px;
}

hr {
  width: 80%;
}

/* This stays static DNT */
.intro-paragraph {
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

footer {
  padding: 30px;

}

@media screen and (max-width: 500px) {
  .container, .nav {
    flex-direction: column;
  }
}