/* --(background-color) = #282c34; */

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-left: -95%;
  margin-top: .5%;
}


.App-logo:hover {
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Window-img {
  height: 300px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
